html {
    font-size: 14px;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

footer {
    position: absolute;
    align-self: flex-end;
    justify-self: flex-start;
    z-index: 2;
}

body .content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "img card";
    overflow: hidden;
    width: 50%;
    height: 60%;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 15vh;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: auto auto 130px 50px auto;*/
    grid-template-rows: auto 10rem 10rem 3.5rem auto;
    grid-template-areas: "title title" 
                         "name name"
                         "text text"
                         "new-price old-price"
                         "button button";
    padding: 1.5rem;
    background-color: white;
}

.content img {
    display: flex;
    grid-area: img;
    max-width: 100%;
    object-fit: contain;
    flex-shrink: 3;
    flex-basis: auto;
} 

.card .title {
    grid-area: title;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 1.1rem;
    color: hsl(228, 12%, 48%);
}

.card .name {
    grid-area: name;
    font-family: 'Fraunces', serif;
    font-size: 1.45em;
    flex-shrink: 2;
}

.name h1 {
    margin: 0;

}

.card .text {
    grid-area: text;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-wrap: wrap;
    color: hsl(228, 12%, 48%);
    letter-spacing: 2px;
    max-height: 100%;
    overflow: visible;
    padding-top: 1.7em;
}

.text p {
    margin: 0;
    max-width: 100%;    
    max-height: 8rem;
}

.new-price {
    grid-area: new-price;
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    color: hsl(158, 36%, 37%);
}

.old-price {
    grid-area: old-price;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    text-align: left;
    align-self: center;
    padding-left: 20px;
    padding-bottom: 10px;
}
.button {
    display: inline-flex;
    grid-area: button;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    height: 4rem;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

button {
    display: flex;
    flex-direction: row;
    background-color: hsl(158, 36%, 37%);
    border: none;
    min-width: 100%;
    min-height: 100%;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

button img  {
    padding-right: 0.6rem;
}

button:active {
    background-color: hsl(159, 37%, 18%);
}

.attribution {
    font-size: 11px; 
    text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px), (max-width: 1220px) {
    body .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40vh 60vh;
        grid-template-areas: "img"
                             "card";
        max-width: 400px;
        width: fit-content; 
        height: fit-content;
        overflow: hidden;
        margin-top: 2vh;
    }
    
    .content .banner {
        grid-area: img;
        width: 100%;
        height: fit-content;
        position: relative;
        top: -100px;
        z-index: 0;
    } 

    .card {
        grid-template-rows: 5vh 15vh 17vh 8vh 10vh;
        z-index: 1;
        padding: 5%;
    }

    .card .name {
        font-size: 1.2rem;
    }
}